# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

frontendts/node_modules
frontendts/.gitignore
frontendts/.env
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

backend/database/dumps
backend/database/seeders
backend/node_modules
backend/.env
backend/Main.session.sql
backend/Test.session.sql