/* Song name container */
.scrollbar1{
    max-width: 17vw;
    color: rgb(90, 210, 216);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    
      /* overflow: hidden; */
  }
  /* Artist names container */
  .scrollbar2{
    max-width: 17vw;
    color: rgb(90, 210, 216);
    overflow: hidden;
  }
  .now-playing__name, .now-playing__artist {
    display: flex;
    flex-wrap: wrap;
    /* width: max-content; */
      /* color: rgb(90, 210, 216); */
      /* text-overflow: ellipsis; */
      /* white-space: nowrap; */
      /* overflow: hidden;  */
  }
  
  .now-playing__side{
    position:  absolute;
    left: 90px;
  }
  /* Now playing album image, bottom left */
  .main-wrapper img {
      height: 60px;
  }
  /* Main container */
  .wrapper {
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px; 
      width: 100vw; 
      background-image: none;
      background-repeat: repeat;
      background-attachment: scroll;
      background-position: 0% 0%;
      background-color: black;
      position: fixed;
      bottom: 0pt;
      left: 0pt;
  }
  .main-wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: auto;
      
      /* margin-right: 85vw; */
  }
  .buttonWrapper{
      position: fixed;
  }
  /* Container for add liked songs button and volume controls */
  .volAddContainer{
    display: flex;
  }
  #volumeIcon{
    position: absolute;
    right: 28.2vw;
    bottom: 8px;
    height: 30px;
    cursor: pointer;
  }
  #volumeBar{    
    position: absolute;
    bottom: 14px;
    right: 18.5vw;
    width: 8.8vw;
  }
  .now_playing{
    position: fixed;
    bottom: 50px;
    
  }
  /* Container for 5 playback buttons */
  .fiveButtonContainer{
    display: flex;    
    position: relative;   
  }

  .btn-spotify {
      color: black;
      background: #7a19e9;      
      outline: 0 !important;
      /* width: 60px; */
      text-align: center;
  }
  
  
  
    /* Music bar animation */
    .bar {
      display: inline-block;
      /* position: fixed; */
      margin-right: 1px;
      width: 26.5px;
      height: 1px;
      overflow: hidden;
      background: linear-gradient(to top, #0066ff 0%, #cc33ff 100%);
      color: transparent;
      animation-name: pulse;
      animation-duration: 0.9s;
      animation-iteration-count: infinite;
    }
    .n1 {
      animation-delay: 0.5s;
    }
    .n2 {
      animation-delay: 0.2s;
    }
    .n3 {
      animation-delay: 1.2s;
    }
    .n4 {
      animation-delay: 0.9s;
    }
    .n5 {
      animation-delay: 2.3s;
    }
    .n6 {
      animation-delay: 1.3s;
    }
    .n7 {
      animation-delay: 3.1s;
    }
    .n8 {
      animation-delay: 1.9s;
    }
    @keyframes pulse {
      0% {
        height: 1px;
        margin-top: 0;
      }
      10% {
        height: 40px;
        margin-top: -40px;
      }
      50% {
        height: 20px;
        margin-top: -20px;
      }
      60% {
        height: 30px;
        margin-top: -30px;
      }
      80% {
        height: 60px;
        margin-top: -60px;
      }
      100% {
        height: 1px;
        margin-top: 0;
      }
    }
    
    
    
    
  @keyframes hithere {
    30% { transform: scale(1.2); }
    40%, 60% { transform: rotate(-20deg) scale(1.2); }
    50% { transform: rotate(20deg) scale(1.2); }
    70% { transform: rotate(0deg) scale(1.2); }
    100% { transform: scale(1); }
  }
input[type=range]{
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
  }
  input[type=range]::-webkit-slider-runnable-track{
    background: #7a19e9;
    border-radius: 16px;
    height: 0.5rem;
  }
  input[type=range]::-moz-range-track{
    background: #7a19e9;
    border-radius: 16px;
    height: 0.5rem;
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0px;
    margin-top: -10px;
    background-color: rgb(90, 210, 216);
    height: 1.5rem;
    width: 1rem;    
  }
  /* rgb(90, 210, 216) */
  input[type="range"]::-moz-range-thumb {
    border: none;
    border-radius: 0;
    background-color: rgb(90, 210, 216);
    height: 2rem;
    width: 1rem;
  }

  
  #modal1{
    background:linear-gradient(to top, #0066ff 0%, #cc33ff 100%) !important;
    margin: 0px;
    padding:  10px !important;
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    min-width: 250px !important;
    min-height: 100vw !important;
    overflow: hidden;
    /* margin-bottom: 150px; */
  }


  @media(min-height: 1000px){
    .scrollbar1, .scrollbar2{
      max-width: 450px;
    }
    #volumeBar{
      width: 16.5vw;
      right: 11vw;
    }
  }
  .spotifyButtonContainer{
    display: none;
  }
  #toggle1{
    /* position: absolute;
    right: 240px;
    bottom: 12px; */
    height: 20px;
    cursor: pointer;
  }
  #toggle2{
    /* position: absolute;
    left: 240px;
    bottom: 12px; */
    height: 19px;
    cursor: pointer;

  }
  .deviceImg{
    position: absolute;
    right: -42vw;
    bottom: 0;
    height: 42px;
    cursor: pointer;
  }
  .now-playing__side2{
    display: none;
    width: 100%;
  }
  @keyframes scrollText {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }
  @media only screen and (max-height: 400px){
    .now-playing__side2{
      min-width: 100vw;
      max-width: 100vw;
    }
  }

  @keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
  }
  
  @media only screen and (max-width: 768px),
  (max-height: 400px){
    .now-playing__side2{
      display: flex;
      flex-direction: column;
      align-items: start;
      margin-bottom: 250px;
      background: rgb(90, 210, 216);      
      color: black;
      min-width: 100vw;
      max-width: 100vw;
      max-height: 100px;
      opacity: 0.6;
      z-index: 5;      
      overflow-x: auto;
      /* white-space: nowrap;       */
      -webikit-mask: linear-gradient(180deg, transparent, white 15% 85%, transparent);
      mask: linear-gradient(180deg, transparent, white 15% 85%, transparent);
      
    }
    #now-playing__name2{
      animation: fadeIn 3s;
    }
    .now-playing__artist2 p, .now-playing__name2 p{      
      font-weight: 900;
      font-size: 20px;
      margin: 0px;      
      /* animation: scrollText 10s reverse linear infinite; */
    }
    .wrapper{
      width: 100vw;
      height: 50px;
    }
    .now-playing__name p, .now-playing__artist p{
      display: none;
      font-size: 12px;
    }
    .main-wrapper img{
      height: 50px;
      position: fixed;
    }
    .btn-spotify{
      display: none;
    }
    .spotifyButtonContainer{
      display: block;
      position: relative;
      left: 7vw;            
    }
    .now_playing{
      left: 4vw;  
    }
    .bar{
      width: 9.7vw;
      opacity: 0.8;
    }
    .spotifyButtonContainer p{
      background: none;
      color: rgb(90, 210, 216);
      /* width: 20px; */
      font-size: 15px;
      position: fixed;
      /* left: 40vw; */
      bottom: 1px;
      cursor: pointer;

      -webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .spotifyButtons1{
      left: 35vw !important;
      width: fit-content !important;
      /* width: 10px !important; */
    }
    .spotifyButtons2{
      left:47vw !important;
      width: fit-content !important;
    }
    .spotifyButtons3{
      left: 65vw !important;
      width: fit-content !important;
      /* width: 10px !important; */
    }    
    #volumeBar, #volumeIcon{
      display: none;
    }
    #toggle1{
      left: 23.5vw;
      bottom: 15px;
      position: fixed;
    }
    #toggle2{
      left: 77vw;
      bottom: 17px;
      position: fixed;
    }
    .deviceImg{
      height: 36px;
      left: 87.5vw;
      bottom: 5px;
      position: fixed;
    }
  }

  
  
  
  
   
  
  
  