.renderImage{
    /* height: 300px;
    width: 300px;
    margin-right: 50px; */    
    animation: fadeIn 0.5s;
    border-radius: 10px;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.mainRender{
    /* height: 300px;
    width: 300px;
    margin-right: 50px;        */
}
.subRender{
    display: flex;    
}
.subsubRender{
    /* height: 150px;
    width: 150px; */
    /* border-radius: 0; */
}
@media only screen and (max-width: 768px),
(max-height: 400px){
    .mainRender{
        height: 150px !important;
        width: 150px !important;
        margin-right: 5px !important;
    }
    .subsubRender{
        height: 75px !important;
        width: 75px !important;
    }
    .renderImage{
        height: 150px !important;
        width: 150px !important;
        margin-right: 5px !important;
    }
}