.artistImage{
    animation: fadeIn 0.5s;
}
.row{
    display: flex;
    gap: 20px;
    overflow-x: auto;
  }

.headers{
    font-weight: bold;
    font-size: 30px;
}
h5{
    color: rgb(90, 210, 216);
}
@media only screen and (max-width: 768px) {
    .artistImage{
        width: 90vw !important;
        height: 90vw !important;
    }
    .topTrackNum{
        display: none;
    }
    .headers2{
        overflow-x: scroll;
        white-space: nowrap;
    }    
    .artistLists{
        /* max-height: 160px !important; */
    }    
}