.fade-in-image{
    animation: fadeIn 0.5s;
}
.catHeader{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    font-size: 40px;
}
.catCard{
    width: 200px;
    height: 305px;
    margin-bottom: 50px;
    border-radius: 10px;
}
.cCardImg{
    width: 80%;
    height: 190px;
    border-radius: 10px;
    margin-top: 20px;
}
@media only screen and (max-width: 768px) {
    .catHeader{
        font-size: 30px;
    }
    .catCard{
        width: 90px;
        height: 135px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
    .cCardImg{
        height: 80px;
        margin-top: 5px;
    
    }    
}