.fade-in-image{
    animation: fadeIn 0.5s;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


@media only screen and (max-width: 768px){
    .discoverContainer{
        top: 15vh !important;
    }
    .categoryContainer{
        width: fit-content !important;
        /* height: fit-content !important; */
        height: 110px !important;
        margin-bottom: 0px !important;
    }
    .categoryContainer h4{
        margin-top: 90px !important;
        font-size: 10px;
    }
    .categoryContainer .fade-in-image{
        height: 90px !important;
        width: 90px !important;
    }
    .scroll-container, .carousel-primary, .categoryContainer{
        height: 120px;
    }
    .discoverCHeader{
        max-width: 85px;
    }
    
}

.scroll-container{
    margin-top: 20px;
    margin-bottom: 25px;
    height: fit-content;
    max-width: 90vw;
    overflow: hidden;
    
    -webikit-mask: linear-gradient(90deg, transparent, white 20% 80%, transparent);
    mask: linear-gradient(90deg, transparent, white 20% 80%, transparent);
    
}
.carousel-primary{
    /* top: 26%; */
    /* left: 100%; */
    display: flex;
    justify-content: space-around;
    animation: scrollText 30s linear infinite;
    width: fit-content;
    overflow: hidden;
    
    white-space: nowrap;
}
.carousel-primary:hover{
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
}

@keyframes scroll-horizontal{
    0% {
        left: 100%;
    }
    100% {
        left: -100%;
    }
}
.discoverCHeader{
    margin-top: 200px;
    max-width: 150px;
}

@keyframes scrollText {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
    }
  }

@media only screen and (max-width: 768px){
    .scroll-container, .carousel-primary, .categoryContainer{
        height: 120px;
    }
    .discoverCHeader{
        max-width: 85px;
    }
}