.fade-in-image, .fade-in-image2{
  animation: fadeIn 0.5s;
  border-radius: 10px;
}
.row{
  display: flex;
  gap: 20px;
  overflow-x: auto;
}

.homeButtons{
  animation: fadeIn 0.5s;
  position: relative;
  border-radius: 0px;
  color: black;
  font-weight: bolder;
  padding: 10px 13px;
  /* background: #7a19e9; */
  outline: 0 !important;
}

.pulseClass{
  box-shadow: 0 0 0 0 rgb(255, 255, 255);
    transform: scale(1);
    animation: pulse 2s infinite;
}

.theme{
  height: 40px;
  width: 65px;
  margin: 5px;
  font-size: 12px;
  background-color: rgb(90, 210, 216);
  color: black;
  border-radius: 10px;
}

.removeAlbum{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  /* bottom: 15px; */
  color: black;
  background: rgb(90, 210, 216);
  font-size: 13px;
  width: fit-content;
  height: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 16px;
  z-index: 2;  
}
.removePlay{
  display: none;
  position: absolute;
  top: 0;
  left: -100px;
  /* margin-top: 20px; */
  /* margin-left: -110px; */
  color: black;
  background: rgb(90, 210, 216);
  font-size: 13px;
  width: 130px;
  height: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 16px;
  z-index: 2;
}

/* Show the dropdown menu on hover */
@media (hover:hover){
  .removePContainer:hover .removePlay {display: block;}
  .removeContainer:hover .removeAlbum {display: block;}
}

.homeContainer{
  /* margin-top: 40px; */
  /* margin-bottom: 25vw; */
}

.addPlaylist{
  margin: 0px;
  cursor: pointer; 
  border: 2px solid #7a19e9; 
  color: rgb(90, 210, 216); 
  border-radius: 50%;
  height: 35px; 
  width: 35px;
  font-size: 30px;
  position: absolute;
  left: 37vw;  
  line-height: 28px;  
  padding: 3px 5px;     
  transform: scale(1);
  animation: pulse3 2.5s infinite;
  
}
/* .addPlaylist:hover{  
  transform: scale(1);
  animation: pulse3 1.5s infinite;
} */

form label {
  display: block;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: left;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
form input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.wrap2 button{
  position: relative;
  width: 100%;
  height: 65px;
  margin-top: 35px;
  color: white;
  background-color: #0066ff;
  /* left: 0; */
  /* left: 150px; */
  
}
form{
  
}
#modal4{
  margin: 0px !important;
  padding: 15px !important;
  min-width: 400px !important;
  min-height: 370px !important;
  overflow: hidden !important;  

  background: linear-gradient(to bottom, #0066ff 0%, #cc33ff 100%);
}


.homeContainer{
  position: absolute;
  top: 8vw; 
  right: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.albumContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 15px;
  width: 95vw;
  /* position: absolute; */
  /* left: 5vw; */
  top: 550px;
}
.playlistContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 10vw;
  margin-bottom: 90px;
}
.likedSongImg{
  height: 300px;
  width: 300px;
  margin-right: 50px;
  border-radius: 10px;
}

.audioPodcast{    
  display: flex;
  align-items: start !important;
  position: relative;
  left: -20vw;
  max-height: 340px;
  max-width: 95vw;
}
.audioPodcast h2{
  margin-top: 100px;
}

@media(min-height: 1000px){
  .homeContainer{
    margin-top: -30px;
    right: 40vw;
  }
  .removePlay{
    /* left: 24vw; */
  }
  .albumContainer{
    top: 700px;                
  }
}
.removeImg{  
  height: 40px;
  width: 40px;
  margin: 0px 0px 20px 0px;
  cursor: pointer;
}
@media only screen and (max-height: 400px){
  .playlistContainer{
    margin-top: 190px !important;
  }  
  .audioPodcast{
    margin-top: 200px;
  }
}
@media only screen and (max-width: 768px),
(max-height: 400px) {
  .removePlay{
    width: 90px;
    height: 30px;
    font-size: 8px;
    margin-left: -60px;
    margin-top: 30px;
  }
  .removeAlbum{
    width: fit-content;
    height: fit-content;
    font-size: 15px;
    margin-left: 40px;    
    /* border-radius: 3px; */
    padding: 3px 6px;
  }
  .removeImg{
    height: 30px;
    width: 30px;
  }
  .homeContainer{
    /* max-width: 350px; */
    margin-top: 60px;
    right: 5vw;        
    flex-direction: column;
  }
  #filterTrack{
    /* margin-bottom: 10px; */
    /* margin-right: 100px;     */
  }
  .buttonContainer{
    
    /* overflow-x: auto; */
    white-space: nowrap;
    top: 20vh;
    /* left: 10vw; */
    margin-left: 10%;
  }
  .homeButtons{
    width: fit-content;
    padding: 10px 5px;
    font-size: 12px;
    /* overflow: hidden;     */
  }
  .albumContainer{
    top: 580px;
    padding-top: 25px;
    padding-bottom: 200px;            
  }
  .likedSongImg{
    height: 150px;
    width: 150px;
    margin-right: 5px;
  }
  a div h2{
    font-size: 13px;
    max-width: 100px;
  }
  .playlistContainer{
    margin-top: 90px;
    margin-bottom: 200px;
  }
  .filterHome button{
    margin-right: 10vw;
  }
  .addPlaylist{
    margin-top: 60px;
  }
  .fade-in-image,.fade-in-image2{
    height: 150px !important;
    width: 150px !important;
    margin-right: 5px !important;
  } 
  .audioPodcast{    
    align-items: start !important;
    position: relative;
    left: -20vw;
    max-height: fit-content;
  }
  .audioPodcast h2{
    margin-top: 100px;
  }
  .fade-in-image2{    
    margin-bottom: 0px !important;
  }
  #modal4{
    max-height: 90vh !important;
      max-width: 90vw !important;
      min-width: 90vw !important;
  }
  .theme{
    height: 30px;
    width: 55px;
    font-size: 9px;
    margin: 2px;
    padding: 5px 0px;
  }
}
