div .fade-in-imageP{
    animation: fadeIn 0.5s;
    margin-left: 1vw;
    position: relative;
}

#deleteSong{
    position: absolute;
    left: 180px;
    cursor: pointer;
}
.lol{
    margin-left: 30px;
}
.lolP,.lol{    
    font-weight: bolder;
    font-size: large;
    font-family: Arial,Helvetica, sans-serif;
    background: linear-gradient(to bottom, #0066ff 0%, #cc33ff 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.rImage{
    height: 360px; 
    width: 350px; 
    z-index: 1; 
    position: relative; 
    right: 110px; 
    top: 10px;
}
.removeAlbum3{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    /* left: 200px; */
    /* bottom: 15px; */
    padding: 5px;
    color: black;
    background: rgb(90, 210, 216);
    font-size: 13px;
    width: 130px;
    height: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* border-radius: 16px; */
    z-index: 2;
}
.removeContainer3{
    display: flex;
    align-items: center;
}
.removeContainer3:hover .removeAlbum3 {display: block;}

.uPlaylistImgs{
    border-radius: 10px;
}

@media(min-height: 1000px){
    #deleteSong{
        left: 600px;
    }    
    .rImage{
        height: 460px;
        width: 450px;
        right: 160px;
    }
    .removeAlbum3{
        left: 5.1vw;
    }
}
.removeImg2{
    margin: 0px 0px 20px 0px;
    height: 30px;
    width: 30px;
    pointer-events: none;
    cursor: pointer;
}
@media only screen and (max-height: 400px){
    #removeContainer3:hover .removeAlbum3{
        display: none;
    }
    .removeImg2{
        height: 25px;
        width: 25px;
        pointer-events: all;
    }
}
@media only screen and (max-width: 768px) {
    #removeContainer3:hover .removeAlbum3{
        display: none;
    }
    .removeImg2{
        height: 25px;
        width: 25px;
        pointer-events: all;
    }
    .desc2{
        /* margin-left: 19vw !important; */
        margin-right: 0px;
    }
    .tdContainer{        
        width: 90% !important;
        margin-left: 2vw !important;
    }
    .subTdContainer{
        margin-right: 15px !important;
    }
    .lolP{
        margin-right: 0px;
        margin-left: 4px;
    }
    .uPlaylistImgs{
        width: 50px !important;
        height: 50px !important;
    }    
}