div .fade-in-imageP{
    animation: fadeIn 0.5s;
    margin-left: 1vw;
    position: relative;
}

#deleteSong{
    position: absolute;
    left: 180px;
    cursor: pointer;
}
.lolP2{
    margin-left: 30px;
}
.lolP,.lolP2{    
    font-weight: bolder;
    font-size: large;
    font-family: Arial,Helvetica, sans-serif;
    background: linear-gradient(to bottom, #0066ff 0%, #cc33ff 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.mainImage{
    height: 360px;
     width: 350px;
    z-index: 1; 
    position: relative; 
    right: 110px; 
    top: 10px;
}
.mainImage2{
    height: 360px;
    width: 360px;    
    margin: 0px;
    padding: 0px;
    z-index: 1;    
    /* position: relative;  */
    /* right: 110px;  */
    
}
.subImage{
    display: flex;    
}
.subsubImage{
    height: 180px;
    width: 180px;
    border-radius: 0;
}
.removeAlbum1{
    display: none;
    position: absolute;
    left: 2.5vw;
    /* left: 200px; */
    /* bottom: 15px; */
    color: white;
    background: linear-gradient(to bottom, #0066ff 0%, #cc33ff 100%);
    font-size: 10px;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 16px;
    z-index: 2;
}
.removeAlbum2{
    display: none;
    position: absolute;
    top: -40px;
    left: -90px;
    /* left: 200px; */
    /* bottom: 15px; */
    padding: 5px;    
    font-size: 12px;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* border-radius: 16px; */
    z-index: 2;
}
.removeContainer2{
    width: 20px;
}
.removeContainer2:hover .removeAlbum2 {display: flex; flex-direction: column; gap: 10px;}

  .theme{
    height: 40px;
    width: 65px;
    margin: 5px;
    font-size: 12px;
    background-color: rgb(90, 210, 216);
    color: black;
  }


@media(min-height: 1000px){
    #deleteSong{
        left: 600px;
    }
    .lolP{
        /* margin-left: 55.4vw; */
    }
    .mainImage{
        height: 460px;
        width: 450px;
        right: 160px;
    }
    .mainImage2{
        height: auto;
        width: 400px;
        margin-bottom: 10px;
        position: relative;
        right: 32px;
        bottom: 11px;
    }
    .subsubImage{
        height: auto;
        width: 225px;
    }
    
}
.removeImg2{
    margin: 0px 0px 20px 0px;
    height: 30px;
    width: 30px;
    pointer-events: none;
    cursor: pointer;
}
@media only screen and (max-height: 400px){
    #removeContainer2:hover .removeAlbum2{
        display: none;
    }
    .removeImg2{
        height: 25px;
        width: 25px;
        pointer-events: all;
    }
}

@media only screen and (max-width: 768px){
    #removeContainer2:hover .removeAlbum2{
        display: none;
    }
    .removeImg2{
        height: 25px;
        width: 25px;
        pointer-events: all;
    }
    .desc2{
        margin-left: 12vw;
        margin-right: 0px;
    }
    .tdContainer{        
        width: 90% !important;
        margin-left: 2vw !important;
    }
    .subTdContainer{
        margin-right: 15px !important;
    }
    .lolP2{
        margin-right: 0px;
        margin-left: 4px;
    }
    .uPlaylistImgs{
        width: 50px !important;
        height: 50px !important;
    }
    .mainImage2{
        height: auto;
        width: 280px;
    }
    .subsubImage{
        width: 95px;
        height:95px;
    }
}
