.buttonText {
  padding-top: 11.7px;
  padding-bottom: 11.7px;
  width: 100%;
  transition: transform 0.1s ease;  
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.buttonText:hover:not(:active) {
  background-color: #7a19e9;
  transform: scale(1.07);
}

.buttonText:active {
  transform: scale(0.97);
}

.buttonContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  left: 0;  
  background: linear-gradient(to bottom, #0066ff 0%, #cc33ff 100%);
  min-width: 10px;
  width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 16px;
  z-index: 5;
}

@media only screen and (max-width: 768px),
(max-height: 400px) {  
  .buttonContent{
    position: absolute;
    top: 40px;
    left: 0;
    min-width: 10px;
    width: 80px;
  }
}