#addSong{
  /* position: absolute; */
  height: 35px; 
  width: 35px;
  /* right: 31vw;
  bottom: 0; */
  font-size: 20px; 
  /* margin-left: 23vw; 
  margin-bottom: 25px;  */
  cursor: pointer; 
  border: 2px solid #7a19e9; 
  color: rgb(90, 210, 216); 
  border-radius: 50%;
}

@media(min-height: 1000px){
  #addSong{
    /* margin-left: 34vw;      */
  }
}
@media only screen and (max-width: 768px),
(max-height: 400px){
  #addSong{
    position: fixed;
    bottom: 40px;
    left: 86vw;
    z-index: 2;
    border: 3px solid white;
    color: white;
  }
}