.now_playing2{
  position: relative;
  /* bottom: 50px; */
}

.main{
  display: flex;
  align-items: center;
}

.innerMain{
  position: relative;
  display: flex;
  margin: 0px;
  
  text-align: left;
  color: rgb(90, 210, 216);
}
h2{
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  max-width: 700px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
h4{
  position: absolute;
  /* max-width: 700px; */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.songLength{
  font-weight: bold;
  color: rgb(90, 210, 216);
}
  
.trackContainer{
  position: relative;
  display: flex;
  justify-content: space-between;  
  align-items: center;
  margin-bottom: 20px;
  /* border-bottom: 1px solid rgba(90, 210, 216, 0.3); */
}
@media only screen and (max-width: 768px){
  .innerMain, h2, .songLength{
    font-size: 15px;
  }
  .trackContainer{
    width: 100%;
  } 
  .innerMain h2, .innerMain h4{
    max-width: 51vw;

    -webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }
}