#root {
  max-width: 100vw !important;
  margin: 0px !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 17px !important;

  color-scheme: dark;
  /* color: rgba(19, 18, 18, 0.87); */
  
  /* background {
    width: 100vw;
    min-height: 100vh;
    background-color: #242424;
  }; */
}
html {  
  -ms-overflow-style: none;
  scrollbar-width: none;
}
::-webkit-scrollbar { 
  display: none;
}

a:hover {  
  background: transparent !important;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;  
  transition: transform 0.1s ease;
}

button:hover {
  transform: scale(1.07);
}

button:active {
  transform: scale(0.99);
}

.react-responsive-modal-modal{    
  border-radius: 16px;
}

/* *****Animations***** */
@media only screen and (max-width: 768px){
  #root{
    max-width: 92.5vw !important;
  }
  body{
    max-width: 100vw;
  }
  *{
    user-select: none;
  }
}
@media only screen and (max-height: 400px){
  body{
    max-width: 100vw;
  }
  *{
    user-select: none;
  }
}

@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes hithere {
  30% { transform: scale(1.2); }
  40%, 60% { transform: rotate(-20deg) scale(1.2); }
  50% { transform: rotate(20deg) scale(1.2); }
  70% { transform: rotate(0deg) scale(1.2); }
  100% { transform: scale(1); }
}

@keyframes scroll-horizontal{
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(238, 238, 238, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

@keyframes pulse3 {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(238, 238, 238, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgb(90, 210, 216);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgb(90, 210, 216);
  }
}