#root {
  max-width: 100vw !important;
  margin: 0px !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 17px !important;

  color-scheme: dark;
  /* color: rgba(19, 18, 18, 0.87); */
  
  /* background {
    width: 100vw;
    min-height: 100vh;
    background-color: #242424;
  }; */
}
html {  
  -ms-overflow-style: none;
  scrollbar-width: none;
}
::-webkit-scrollbar { 
  display: none;
}

a:hover {  
  background: transparent !important;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;  
  transition: transform 0.1s ease;
}

button:hover {
  transform: scale(1.07);
}

button:active {
  transform: scale(0.99);
}

.react-responsive-modal-modal{    
  border-radius: 16px;
}
@media only screen and (max-width: 768px){
  #root{
    max-width: 92.5vw !important;
  }
  body{
    max-width: 100vw;
  }
  *{
    user-select: none;
  }
}
@media only screen and (max-height: 400px){
  body{
    max-width: 100vw;
  }
  *{
    user-select: none;
  }
}
