.ptrackInfo{
    position: relative;
    display: flex;
    /* margin-right: 300px; */
    text-align: left;
    color: rgb(90, 210, 216);
}
.pTrackContainer {
  border-bottom: 1px solid rgba(90, 210, 216, 0.3);
}
.ptrackName{
    text-align: left;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    /* max-width: 700px; */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.ptrackArtist{
    /* position: absolute;
    max-width: 700px; */
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ptrackDur{
    /* position: absolute;
    left: 83.5vw; */
    font-weight: bold;
    color: rgb(90, 210, 216);
}
@media(min-height: 1000px){
    .mbar2{
      left: 480px;
    }
  }

  @media only screen and (max-width: 768px){
    .pTrackContainer{
        margin-bottom: 30px;
    }
    .ptrackName, .ptrackArtist, .ptrackDur{
      font-size: 15px;
      -webkit-tap-highlight-color: transparent;
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
    }
    .trackContainer{
      width: 100%;
    }
    .ptrackName,h4{
      max-width: 45vw;
    }      
  }