.scrollbar1{
    max-width: 260px;
    color: rgb(90, 210, 216);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    
      /* overflow: hidden; */
  }
  .scrollbar2{
    max-width: 260px;
    color: rgb(90, 210, 216);
    overflow: hidden;
  }
  .now-playing__name, .now-playing__artist {
    display: flex;
    flex-wrap: wrap;
    /* width: max-content; */
      /* color: rgb(90, 210, 216); */
      /* text-overflow: ellipsis; */
      /* white-space: nowrap; */
      /* overflow: hidden;  */
  }
  /* .scrollbar1 {
    overflow: hidden;
    -webikit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent)
  }
  .scrollbar2 {
    overflow: hidden;
    -webikit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent)
  } */
  .scrollbar1 .now-playing__name{
    /* width: max-content;
    animation: scroll 40s linear reverse infinite; */
    /* animation: scroll var(--_animation-duration, 10s)
    var(--_animation-duration, reverse) linear infinite;
    animation-delay: 5s; */
  }
  .scrollbar2 .now-playing__artist{
    /* width: max-content;
    animation: scroll 40s linear infinite; */
    /* animation: scroll var(--_animation-duration, 50s)
    var(--_animation-duration, forwards) linear infinite; */
  }
  /* .now-playing__side[data-direction="right"]{
    --_animation-direction: reverse
  } */
  /* @keyframes scroll {
    to{
      transform: translate(-50%);
    }
  } */
  .now-playing__side{
    position:  absolute;
    left: 90px;
  }
  
  .main-wrapper img {
      height: 60px;
  }
  .wrapper {
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px; 
      width: 100%; 
      background-image: none;
      background-repeat: repeat;
      background-attachment: scroll;
      background-position: 0% 0%;
      background-color: black;
      position: fixed;
      bottom: 0pt;
      left: 0pt;
  }
  .main-wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: auto;
      
      /* margin-right: 85vw; */
  }
  .buttonWrapper{
      position: fixed;
  }
  .now_playing{
    position: fixed;
    bottom: 50px;
  }
  .btn-spotify {
      color: rgb(90, 210, 216);
  }
  
  
    /* Music bar animation */
    .bar {
      display: inline-block;
      /* position: fixed; */
      margin-right: 1px;
      width: 25px;
      height: 1px;
      overflow: hidden;
      background: linear-gradient(to bottom, #0066ff 0%, #cc33ff 100%);
      color: transparent;
      animation-name: pulse;
      animation-duration: 0.9s;
      animation-iteration-count: infinite;
    }
    .n1 {
      animation-delay: 0.5s;
    }
    .n2 {
      animation-delay: 0.2s;
    }
    .n3 {
      animation-delay: 1.2s;
    }
    .n4 {
      animation-delay: 0.9s;
    }
    .n5 {
      animation-delay: 2.3s;
    }
    .n6 {
      animation-delay: 1.3s;
    }
    .n7 {
      animation-delay: 3.1s;
    }
    .n8 {
      animation-delay: 1.9s;
    }
    @keyframes pulse {
      0% {
        height: 1px;
        margin-top: 0;
      }
      10% {
        height: 40px;
        margin-top: -40px;
      }
      50% {
        height: 20px;
        margin-top: -20px;
      }
      60% {
        height: 30px;
        margin-top: -30px;
      }
      80% {
        height: 60px;
        margin-top: -60px;
      }
      100% {
        height: 1px;
        margin-top: 0;
      }
    }
    /* Record animation */
    .svgContainer{
      display: flex;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      max-width: 800px;    
      /* margin-bottom: 100px;       */
      align-items: center;
    }

    .svgImage{
      height: 359px;
      width: 359px;
      
      position: relative;
      left: 100px;
      
      z-index: 1;
    }
    #svg1 {
      position: relative;
      right: 100px;
      z-index: 0;
      /* position: absolute; */
      
      
      width: 400px;
      height: 390px;
      border: 1px solid 0066ff;
      background: black;
      overflow: hidden;      
    }
    /* #svg2{
      z-index: 0;
      position: absolute;
      left: 14px;
      bottom: -10px;
      width: 90px;
      height: 80px;
      border: 1px solid 0066ff;
      background: black;
    } */
    
    #label {
      fill: white;
    }
    
    @keyframes spin {
      100%{transform: rotate(360deg);}
    }
    
    #record,#record2 {
      transform-origin: center center;
      animation: spin 2.5s linear infinite;
    }
    
    .line1 {
      stroke: #cc33ff;
    }
    .line2{
      stroke: #d093e5;
    }
    .line3{
      stroke: #4d73ad;
    }
    .writing{
      font-weight: bold;
      fill: black;
    }
  
  /* .toggle{
    animation: hithere 1s ease;
  } */
  @keyframes hithere {
    30% { transform: scale(1.2); }
    40%, 60% { transform: rotate(-20deg) scale(1.2); }
    50% { transform: rotate(20deg) scale(1.2); }
    70% { transform: rotate(0deg) scale(1.2); }
    100% { transform: scale(1); }
  }
input[type=range]{
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
  }
  input[type=range]::-webkit-slider-runnable-track{
    background: #7a19e9;
    border-radius: 16px;
    height: 0.5rem;
  }
  input[type=range]::-moz-range-track{
    background: #7a19e9;
    border-radius: 16px;
    height: 0.5rem;
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0px;
    margin-top: -10px;
    background-color: rgb(90, 210, 216);
    height: 1.5rem;
    width: 1rem;    
  }
  /* rgb(90, 210, 216) */
  input[type="range"]::-moz-range-thumb {
    border: none;
    border-radius: 0;
    background-color: rgb(90, 210, 216);
    height: 2rem;
    width: 1rem;
  }

  
  #modal1{
    background:linear-gradient(to top, #0066ff 0%, #cc33ff 100%) !important;
    margin: 0px;
    padding:  10px !important;
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
    min-width: 250px !important;
    min-height: 100vw !important;
    overflow: hidden;
    /* margin-bottom: 150px; */
  }


  @media(min-height: 1000px){
    .scrollbar1, .scrollbar2{
      max-width: 770px;
    }
    .svgImage{
      width: 383px;
      height: 383px;
      left: 102px;
    }
    #svg1{
      width: 500px;
      height: 490px;
      right: 102px;
    }
  }

  
  
  
  
   
  
  
  