.scrollbar1{
    max-width: 500px;
    color: rgb(90, 210, 216);
      /* text-overflow: ellipsis; */
      /* white-space: nowrap; */
      /* overflow: hidden; */
  }
  .scrollbar2{
    max-width: 500px;
    color: rgb(90, 210, 216);
  }
  .now-playing__name, .now-playing__artist {
    display: flex;
    flex-wrap: wrap;
    width: max-content;
      /* color: rgb(90, 210, 216); */
      /* text-overflow: ellipsis; */
      /* white-space: nowrap; */
      /* overflow: hidden;  */
  }
  .scrollbar1[data-animated="true"] {
    overflow: hidden;
    -webikit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent)
  }
  .scrollbar2[data-animated="true"] {
    overflow: hidden;
    -webikit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent)
  }
  .scrollbar1[data-animated="true"] .now-playing__name{
    width: max-content;
    animation: scroll var(--_animation-duration, 40s)
    var(--_animation-duration, reverse) linear infinite;
  }
  .scrollbar2[data-animated="true"] .now-playing__artist{
    width: max-content;
    animation: scroll var(--_animation-duration, 40s)
    var(--_animation-duration, forwards) linear infinite;
  }
  .now-playing__side[data-direction="right"]{
    --_animation-direction: reverse
  }
  @keyframes scroll {
    to{
      transform: translate(-50%);
    }
  }
  
  .main-wrapper img {
      height: 60px;
  }
  .wrapper {
      z-index: 3;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px; 
      width: 100%; 
      background-image: none;
      background-repeat: repeat;
      background-attachment: scroll;
      background-position: 0% 0%;
      background-color: black;
      position: fixed;
      bottom: 0pt;
      left: 0pt;
  }
  .main-wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: auto;
      
      /* margin-right: 85vw; */
  }
  .buttonWrapper{
      position: fixed;
  }
  .now_playing{
    position: fixed;
    bottom: 50px;
  }
  .btn-spotify {
      color: rgb(90, 210, 216);
  }
  
    /* body {
      font-family: "Lato", sans-serif;
      font-weight: 100;
      font-size: 16px;
      color: #333;
      text-align: center;
      background: #eee;
    } */
    /* .playing {
      position: fixed;
      top: 50%;
      left: 50%;
      width: auto;
      transform: translateX(-50%) translateY(-50%);
    } */
    /* .playing:after {
      content: "Now Playing.";
      display: block;
      width: 100%;
      margin-top: 10px;
    } */
  
    /* Music bar animation */
    .bar {
      display: inline-block;
      /* position: fixed; */
      margin-right: 1px;
      width: 25px;
      height: 1px;
      overflow: hidden;
      background: linear-gradient(to bottom, #0066ff 0%, #cc33ff 100%);
      color: transparent;
      animation-name: pulse;
      animation-duration: 0.9s;
      animation-iteration-count: infinite;
    }
    .n1 {
      animation-delay: 0.5s;
    }
    .n2 {
      animation-delay: 0.2s;
    }
    .n3 {
      animation-delay: 1.2s;
    }
    .n4 {
      animation-delay: 0.9s;
    }
    .n5 {
      animation-delay: 2.3s;
    }
    .n6 {
      animation-delay: 1.3s;
    }
    .n7 {
      animation-delay: 3.1s;
    }
    .n8 {
      animation-delay: 1.9s;
    }
    @keyframes pulse {
      0% {
        height: 1px;
        margin-top: 0;
      }
      10% {
        height: 40px;
        margin-top: -40px;
      }
      50% {
        height: 20px;
        margin-top: -20px;
      }
      60% {
        height: 30px;
        margin-top: -30px;
      }
      80% {
        height: 60px;
        margin-top: -60px;
      }
      100% {
        height: 1px;
        margin-top: 0;
      }
    }
    /* Record animation */
    svg {
      z-index: 0;
      position: absolute;
      left: 40px;
      width: 400px;
      height: 390px;
      border: 1px solid 0066ff;
      background: black;
      overflow: hidden;
    }
    
    #label {
      fill: white;
    }
    
    @keyFrames spin {
      100%{transform: rotate(360deg);}
    }
    
    #record {
      transform-origin: center center;
      animation: spin 2.5s linear infinite;
    }
    
    .line1 {
      stroke: #cc33ff;
    }
    .line2{
      stroke: #d093e5;
    }
    .line3{
      stroke: #4d73ad;
    }
    .writing{
      font-weight: bold;
      fill: black;
    }
  
  /* .toggle{
    animation: hithere 1s ease;
  } */
  @keyframes hithere {
    30% { transform: scale(1.2); }
    40%, 60% { transform: rotate(-20deg) scale(1.2); }
    50% { transform: rotate(20deg) scale(1.2); }
    70% { transform: rotate(0deg) scale(1.2); }
    100% { transform: scale(1); }
  }
  
  
  
   
  
  
  